header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  max-height: 200px; 
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px;
}


nav ul li a:hover {
  background-color: #555; 
  color: #ff8400; 
}

body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

header {
  background-color: #333;
  color: #fff;
  padding: 1.5em;
  text-align: center;
}

main {
  max-width: 600px;
  margin: 2em auto;
  background-color: #fff;
  padding: 1.5em;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
}

input, select, textarea {
  margin-bottom: 1em;
  padding: 0.7em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 0.7em;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
} 



/* Add this media query */
@media only screen and (max-width: 600px) {
  nav ul li {
    display: block;
    margin-bottom: 10px; 
  }

  nav ul li a {
    display: block;
    padding: 10px;
  }
}


#workScheduleContainer {
  position: relative;
}

#workScheduleLink {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  padding: 10px 20px; 
}

#workScheduleLink:hover {
  background-color: #555; 
  color: #ff8400; 
}

#workScheduleSubMenu {
  position: absolute;
  top: calc(100% + 5px); 
  left: 0;
  z-index: 1; 
  background-color: #333; 
  padding: 0; 
  margin: 0;
  border: 1px solid #333; 
  border-top: none; 
}

#workScheduleSubMenu li {
  display: block;
}

#workScheduleSubMenu li a {
  display: block;
  padding: 10px 20px; 
  color: #fff; 
  text-decoration: none;
}

#workScheduleSubMenu li a:hover {
  background-color: #555; 
  color:#ff8400;
}




